@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Begin all figures */
figure{
	break-inside: avoid;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

figcaption{
	font-size: smaller;
	font-style: italic;
	margin: 1em;
}

figcaption p + p{
	text-indent: 0;
}
/* end all figures */
